.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 40%;
  height: auto;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
.modal-header h5 {
  color: #fdb813;
}
